API breaks on slashes in ids

## Expected behavior
Normal API response when requesting e.g. trip info for trip ids like `1:RA190720/525/TD-0MIE5/DS/05.11`

## Observed behavior
An 500 HTTP Internal Server Error

## Version of OTP used (exact commit hash or JAR name)
otp-1.3.0-shaded.jar and otp-1.4.0-20190704.061701-28-shaded.jar

## Data sets in use (links to GTFS and OSM PBF files)
1. https://mkuran.pl/gtfs/warsaw.zip
2. https://mkuran.pl/gtfs/wkd.zip

and https://download.geofabrik.de/europe/poland/mazowieckie-latest.osm.pbf

## Command line used to start OTP
`java -Xmx12G -jar otp-1.3.0.jar --basePath /home/mikolaj/Pulpit/otp/ --build /home/mikolaj/Pulpit/otp/graphs/warsaw --inMemory` or  
`java -Xmx12G -jar otp-1.4.0-20190704.061701-28-shaded.jar --basePath /home/mikolaj/Pulpit/otp/ --build /home/mikolaj/Pulpit/otp/graphs/warsaw --inMemory`
## Router config and graph build config JSON
(none, use defaults)

## Steps to reproduce the problem
1. Try to find a complicated trip_id from warsaw.zip, e.g. from http://localhost:8080/otp/routers/default/index/routes/1:9/trips
2. Pick a trip_id and escape it (e.g. `1:RA190723/9/TP-GCW/D5/17.09__` → `1%3ARA190723%2F9%2FTP-GCW%2FD5%2F17.09__`)
3. Try to get trip info for the trip_id, e.g. <http://localhost:8080/otp/routers/default/index/trips/1%3ARA190723%2F9%2FTP-GCW%2FD5%2F17.09__>
4. Enjoy your 500 error

------

An important note I found: generally, escaping the ids does not break things. wkd.zip uses simple integer trip ids, so there are no issues trying to get these trips.
Both of these requests are processed normally:
- http://localhost:8080/otp/routers/default/index/trips/2:167
- http://localhost:8080/otp/routers/default/index/trips/2%3A167

This leads me to believe that the issue is with the escaped slash, `/` (%2F).  
I would like to help, but I can't find any piece of code that is responsible for this weirdness 😓.


First I thought this would be the Grizzly Server interpreting you id as sup-paths, but you say you get an 500 - Internal Server Error and not a 404, witch I would expect. Is there a StackTrace in the log? 

I would consider changing the ids by replacing the `\` with some other delimiter like `:`, `-` or even `--`. Just make sure it will not create any id collisions.

I'd really want to avoid it. The agency actually uses the `/` as a delimiter internally, and I want to keep the dataset as close to source data as possible.

After some Googling it might seem like this issue showed up beforehand (like here, maybe: <https://stackoverflow.com/questions/27531278/jersey-1-9-path-with-slashes>).

And because it's a 500 error response with no payload it rather looks like the server flat out refuses to process anything with `%2F`.

I am sorry, but there is no way to support this without changing the API - and that is not likely to be approved by the PLC. Maybe the best thing you can do is to try using the GraphQL API or change the ids.

The problem is that if you accept `/` in the id then there is no way to distinguish between endpoints like this:

`/trips/{tripId}`
`/trips/{tripId}/stops`
`/trips/{tripId}/semanticHash`
`/trips/{tripId}/stoptimes`
and so on.

_If you would like to fork the repo and change it your self, something like this might work:_

It is possible to change the Regex for `{tripId}` like this for `getStopsForTrip(...)`: 
```
{tripId: ((?!.*\\/(stops|semanticHash|stoptimes|geometry)).*)}
```
and for all other trip methods:
```
{tripId: (.*)}/stops
```
See the `IndexAPI.java`




> The problem is that if you accept / in the id then there is no way to distinguish between endpoints.

Isn't that the whole point of escaping slashes with `%2F`? See [RFC3986, Section 2.1](https://tools.ietf.org/html/rfc3986#section-2.1). Percent encoding is used to represent a character which is normally used as a delimiter.

I may try to play around with the file you named (thanks for that), because as I understand, `/` is a delimiter, but `%2F` is not.

---

On another note, OpenMobilityData handles slashes in URLs in a weird way, by escaping them as `%252F`. See <http://transitfeeds.com/p/ztm-warszawa/720/latest/trip/RA190806%252F9%252FTD-3OKE%252FDP%252F04.06_>. Though, you won't find anything past the trip_id so there's no issue like here with endpoints.

Thank you for the URI spec link - it is most interesting to see that most REST services I know is not following the specification. Part of the problem is that we relay on frameworks to make this work - without having to do fancy tricks with the REST endpoint patterns.  

I do not have the time to play with this, but let me know if you have any success with the suggestion changing the Regex in the IndexAPI class - I will mention it to @abyrd tomorrow and maybe we will accept a PR with changes to the IndexAPI if it is not to messy. 
